@import './variables';

.x-alert {
  display: flex;
  align-items: center;
  border-radius: $border-radius;

  @each $type, $color in $type-colors {
   &.x-alert--#{$type} {
      border: 1px solid $color;
      background-color: lighten($color, 40%)
    }
  }

  &__icon {
    margin-left: $margin-x;
  }

  &__text {
    margin: $margin-y $margin-x;
  }

  &__close {
    margin: $margin-x;
    margin-left: auto;
    cursor: pointer;
    transition: color .3s;

    &:hover {
      color: lighten(#000, 50);
    }
  }

  &--exit {
    opacity: 1;
  }

  &--exitActive {
    max-height: 0!important;
    opacity: 0;
    overflow: hidden;
    transition: opacity 0.3s, max-height 0.3s;
  }
}