@import '../../../styles/variables';
@import './variables';

@mixin button-size (
  $padding-y: $btn-padding-y,
  $padding-x: $btn-padding-x, 
  $font-size: $btn-font-size, 
  $border-raduis: $btn-border-radius
) {
  padding: $padding-y $padding-x;
  font-size: $font-size;
  border-radius: $border-raduis;
}

@mixin button-style(
  $background,
  $border,
  $color,
  $hover-background: lighten($background, 10%),
  $hover-border: lighten($border, 10%),
  $hover-color: $color,
) {

  color: $color;
  background: $background;
  border-color: $border;

  &:hover {
    text-decoration: none;
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;    
  }

  &:focus,
  &.focus {
    color: $hover-color;
    background: $hover-background;
    border-color: $hover-border;    
  }
  
  &:disabled,
  &.x-btn--disabled {
    color: $color;
    background: lighten($background, 15%);
    border-color: lighten($border, 15%);
    // pointer-events: none; 
    cursor: not-allowed;
  }
}

