@import './variables';
@import './mixin';

$btn-class-name: x-btn;

.x-btn {
  display: inline-block;
  cursor: pointer;
  color: $body-color;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  border: $btn-border-width solid transparent;
  box-shadow: $btn-box-shadow;
  transition: $btn-transition;
  white-space: nowrap;
  text-align: center;
  vertical-align: baseline;
  background-image: none;
  text-decoration: none;
  @include button-size;
  @include button-style($white, $gray-500, $black, $white, $blue, $blue);

  & > &__loading-icon {
    color: inherit;
    margin-right: 0.3rem;
    font-size: 1em;
  }

  &--loading {
    pointer-events: none;
  }

  &--primary {
    @include button-style($primary, $primary, $white);
  }

  &--success {
    @include button-style($success, $success, $white);
  }

  &--info {
    @include button-style($info, $info, $white);
  }

  &--warning {
    @include button-style($warning, $warning, $white);
  }

  &--danger {
    @include button-style($danger, $danger, $white);
  }

  &--link {
    box-shadow: none;
    @include button-style(
      $white,
      transparent,
      $primary,
      $white,
      transparent,
      lighten($primary, 15%)
    );
  }

  &--lg {
    @include button-size(
      $btn-padding-y-lg,
      $btn-padding-x-lg,
      $btn-font-size-lg,
      $btn-border-radius-lg
    );

    &.x-btn--round {
      border-radius: $btn-padding-y-lg * 2 + $btn-font-size-lg;
    }
  }

  &--sm {
    @include button-size(
      $btn-padding-y-sm,
      $btn-padding-x-sm,
      $btn-font-size-sm,
      $btn-border-radius-sm
    );

    &.x-btn--round {
      border-radius: $btn-padding-y-sm * 2 + $btn-font-size-sm;
    }
  }

  &.x-btn--round {
    border-radius: $btn-padding-y * 2 + $btn-font-size;
  }

  &--circle {
    border-radius: 50%;
  }

  &--block {
    display: block;
    width: 100%;
  }
}
