@import '~@/styles/variables';

$theme-colors: (
  'primary':  $primary,
  'success':  $success,
  'info':     $info,
  'warning':  $warning,
  'danger':   $danger,
  'light':    $light,
  'dark':     $dark,
);
