
$input-color:                 #31456A;

$input-clear-icon-color:      #00000040;

$input-clear-icon-color-hover:#00000073;

$input-disabled-bg:           #f5f5f5;

$input-transition:              border-color 0.3s, box-shadow 0.3s;

$input-border-radius:           0.2rem;
$input-border:                  1px solid $gray-500;
$input-border-hover-color:      $primary;

$input-shadow:                  0 0 0 0 lighten($input-border-hover-color, 35);
$input-focus-shadow:            0 0 0 2px lighten($input-border-hover-color, 35);


$input-padding-y:               0.2rem;
$input-padding-x:               0.5rem;
$input-font-family:             $font-family-base;
$input-font-size:               $font-size-base;
$input-line-height:             $line-height-base;

$input-font-size-sm:            $font-size-sm;

$input-font-size-lg:            $font-size-lg;

