@import './variables';

.x-input {

  input {
    outline: none;
  }

  &:hover  {
    .x-input__inner:not(:disabled) {
      border-color: $input-border-hover-color;
    }
  }

  &__inner {
    width: 100%;
    color: $input-color;
    border: $input-border;
    box-shadow: $input-shadow;
    transition: $input-transition;
    line-height: $input-line-height;
    border-radius: $input-border-radius;
    padding: $input-padding-y $input-padding-x;

    &:focus {
      border-color: $input-border-hover-color;
      box-shadow: $input-focus-shadow;
    }

    &::selection {
      color: $white;
      background-color: $primary;
    }

    &:disabled {
      cursor: not-allowed;
      color: rgba(0, 0, 0, 0.25);
      background-color: $input-disabled-bg;
    }
  }

  .x-input__inner {
    font-size: $input-font-size;
  }
}

.x-input--sm {
  .x-input__inner {
    font-size: $input-font-size-sm;
  }
}

.x-input--lg {
  .x-input__inner {
    font-size: $input-font-size-lg;
  }
}

.x-input--clearable {
  position: relative;

  .x-input__inner {
    padding-right: $input-padding-y * 2 + $font-size-base;
  }

  .x-input__clear {
    position: absolute;
    top: 50%;
    right: $input-padding-y * 1.2;
    transform: translateY(-50%);
    color: $input-clear-icon-color;
    transition: color 0.3s;
    line-height: 0;
    cursor: pointer;

    &:hover {
      color: $input-clear-icon-color-hover;
    }

    &--hidden {
      visibility: hidden;
    }
  }
}
